<footer class="site-footer {{#unless layout}}inverse-footer{{/unless}}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Copyright © 2017 SleepAiden All rights reserved.</h5>
            </div>
            <div class="col-md-4">
                <h5><a href="/about">About</a> | <a href="/tos">Terms of Service</a> | <a href="/pp">Privacy Policy</a></h5>
            </div>
            <div class="col-md-2 social-icons">
                <a href="#"><i class="fa fa-facebook"></i> </a>
                <a href="#"><i class="fa fa-twitter"></i> </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>