<!DOCTYPE html>
<html>
    {{> head }}
<body>
    <div class="background_blur"></div>
    <div class="jumbotron home-hero">
        <div class="container">
            <div class="row">
                {{{ body }}}
            </div>
        </div>
    </div>

    {{> footer}}
</body>
</html>