<div class="col-md-4 col-md-push-7 phone-preview">
    <div class="iphone-mockup">
        <img src="/images/iphone.svg" class="device">
        <div class="screen"></div>
    </div>
</div>
<div class="col-md-6 col-md-pull-3 get-it">
    <h1>SleepAiden</h1>
    <p style="text-align: left;">SleepAiden is an mobile app.......</p>
    <p style="text-align: center;">
        <a class="download_btn" style="background-image: url(/images/download-appstore.png)"; role="button" href="#">
        </a>
        <a class="download_btn" style="background-image: url(/images/download-googleplay.png)"; role="button" href="#">
        </a>
    </p>
</div>