<h1 style="padding-bottom: 40px;">Privacy Policy</h1>
<p>
    We have written our privacy policy to be understandable for humans (not just lawyers). By using our SleepAiden app
    (the “App”), future products, services or features we develop and introduce, or our website (together the “Services”),
    you consent to the collection, processing and disclosure of data concerning you in accordance with this privacy policy.
    <br>

    <H3>Data collection and processing</H3>

    SleepAiden collects data from your phone to provide you with an easy way to track the sleep records of your baby.
    When you install, run or use our services we collect:    <br>

    <b>Information you provide</b>. If you choose to create an account, you provide us your username, email and
    a password. When you add your baby's information, we collect the name, birthday, and gender of your baby. When you
    input a sleep record, we collect the start time and end time of this sleep record.
    <br>

    <b>Information from your device</b>. This includes information about your operating system, device
    identifier, wi-fi or other network connections, or other
    data that you permit the App to access on your device including through permissions on your device
    (e.g. Google Play on Android).<br>

    <b>Communications with us</b>. If you communicate with us, we collect the information and content
    you provide to us, including your suggestion and the information of your device.
    <br>

    <h3>How we use information</h3>

    We process and use the information we collect about you in a variety of ways. The primary purpose
    is to provide you with an easy way to track the sleep records of your baby. We upload
    your information from your device over a secured connection to our servers in order to analyze the
    data and identify the sleep quality and sleep patterns of your baby. Results are sent back to your phone over a
    secured connection so that you can view and interact with them, and they are stored on our servers.
    <br><br>
    Other ways we use your data include to develop aggregated analyses and reports that help us improve
    our algorithms, measure and understand how our Services are used, and to develop new products, services
    and features. We also use your
    information to communicate with you, such as by sending you notifications and service-related messages,
    or by responding to your requests and questions.
    <br>

    <h3>Cookies and Similar Technologies</h3>

    We may collect information about your use of our Services through the use of cookies or similar
    technologies. For example, we may use this information to provide or improve our Services, for measurement
    and analytics to better understand how our services function and are used, or for internal operations.
    Cookies are small pieces of data that are stored on your mobile phone, computer, or other device.
    <br><br>
    Third parties may also use cookies to collect information about your activities on our website. Your
    browser or device may offer you control over the use cookies or other technologies when you use the
    Services. For example, you may be able to set your browser or device to disable, clear, reset or block
    the use of cookies or similar technologies.
    <br>

    <h3>Sharing data with third parties</h3>

    To provide and support the services we provide to you, information we collect and receive may be
    disclosed to third parties in any Area as (i) described in this policy,
    (ii) if you otherwise give your consent, or (iii) if the disclosure is legally required.
    <br><br>

    We may disclose information about you or your use of our Services to service providers or other partners
    that work on our behalf to support our business (e.g. information processing and storage, provide place
    recommendations, map thumbnails, and measuring the performance of our App).

    <br><br>
    We may access, use, preserve, and share your information, including your personally identifying
    information, with third parties when we have a good faith belief that it is necessary to: detect,
    prevent and address fraud and other illegal activity; protect ourselves, you and others, including
    as part of investigations; or prevent death or imminent bodily harm. We may also share such information
    if we believe that you have abused your rights to use the Services or violated an applicable law, or
    in connection with any dispute between you and us with respect to the Services.
    <br><br>
    If we sell all or part of our business, make a sale or transfer of assets, are otherwise involved in a
    merger or business transfer, or in the event of bankruptcy, we may disclose and transfer your personally
    identifying information to one or more third parties as part of that transaction.
    <br><br>
    We may also generally disclose aggregate or anonymous information where reasonable steps have been taken to
    ensure the data does not contain your personally identifying information.
    <br>

    <h3>The security of our systems</h3>

    We use third party vendors and hosting partners to provide the necessary hardware, software,
    networking, storage, and related technology required to provide the service. These may be located
    at destinations in any Area. By submitting your personally identifying
    information, you agree to this. We use commercially reasonable physical and technical safeguards
    to secure your data. We encrypt the communication channels using SSL. However, we cannot guarantee
    the security of your data, which may be compromised by unauthorized entry or use, hardware or
    software failure, and other factors.
    <br>

    <h3>Data retention and deletion</h3>

    We may retain information regarding you and your use of the Services, including personally identifying information,
    for as long as needed to provide you with the Services and the uses described in this Privacy Policy. This often
    means that we will keep information for the duration of your account. If you choose, you may use the Delete
    Account / Data Settings in the App to request the deletion of your information and your Moves account.

    <br><br>
    We reserve the right to alter our privacy policy at any time. We will notify you of any alterations with
    reasonable notice through the service, such as by posting it on our website, by email, or otherwise. If
    you do not agree to the altered privacy policy, you may stop using our Services.

    Last updated and effective as of April 10, 2017.
</p>
<br><br>