<h1 style="padding-bottom: 40px;">Terms of Service</h1>
<p>
    Effective Date: April 10, 2017<br><br>

    These terms of service (“Terms of Service”) are a legal agreement concluded between you (“Licensee”)
    and SleepAiden (“Licensor”) for the SleepAiden app (“Service”). The Licensor licenses use of the Service
    to the Licensee on the basis of these Terms of Service. The Licensor does not sell the Service to the Licensee.
    The Licensor remains the owner of the Service at all times.
    <br><br>
    By registering an account (or signing in with a third-party account) and using the Service, the Licensee
    agrees to the terms and conditions of these Terms of Service which shall bind the Licensee. The terms and
    conditions of these Terms of Service include, in particular, disclaimer of warranty in Section 5 and limitation
    of liability in Section 6.
    <br><br>
    If the Licensee does not agree to the terms and conditions of these Terms of Service, the Licensor does not
    license the Service to the Licensee and the Licensee must refrain from registering, signing in and using the
    Service. The Service can only be registered and used in accordance with these Terms of Service.
</p>
<p>
    <H3>1. Scope of License</H3>

        1.1 The Licensor hereby grants to the Licensee a non-exclusive, non-transferable license to use
        the Service on the terms and conditions of these Terms of Service (“License”). The License shall
        remain in force subject to the payment of license fees, if any, unless terminated in accordance with Section 8.
        <br><br>
        1.2 Under the License, the Licensee may:<br>
            (a) download, install and use the Service for the Licensee’s personal purposes on any compatible
            device owned or controlled by the Licensee; and <br>
            (b) receive and use any updates to the Service as may be provided by the Licensor from time to time.
        <br><br>
        1.3 The Licensor reserves the right to change, suspend, remove or disable access to the Service at any time
        without notice. In no event shall the Licensor be liable for the removal or disabling of, or for imposing
        limits on, access to or use of the Service. The fourth paragraph of Section 8 shall apply to the refund of license fees.
</p>

<p>
    <H3>2. Consent to processing of data</H3>

    Licensor may process personal data in accordance with the Licensor’s Privacy Policy, which among other things
    explains how and for which purposes data is processed, and the controls available when you use the Service.
</p>

<p>
    <H3>3. Restrictions</H3>

    Except as expressly set out in these Terms of Use or as permitted by applicable law, the Licensee undertakes not to:<br>
    (a) copy the Service except where such copying is incidental to normal use of the Service;<br>
    (b) rent, lease, lend, sell, redistribute or sublicense the Service;<br>
    (c) make alterations to, modifications of or derivative works based on the whole or any part of the Service,
    nor permit the Service or any part of it to be combined with or become incorporated in any other service or program;<br>
    (d) disassemble, decompile, reverse engineer the whole or any part of the Service, nor attempt to do any such thing
    except to the extent that such actions cannot be prohibited under applicable law;<br>
    (e) provide or otherwise make available the Service, in whole or in part, in any form to any person for commercial purposes;<br>
    (f) use the Service for any illegal activities, such as infringing or violating the rights of any other party; and<br>
    (g) exploit the Service in any unauthorized way whatsoever.<br>
</p>

<p>
    <H3>4. Intellectual Property Rights</H3>

    4.1 The Licensee acknowledges that:<br>
    (a) all intellectual property rights in the Service belong to the Licensor;
    <br>
    (b) rights in the Service are licensed, not sold, to the Licensee;
    <br>
    (c) the Licensee has no rights in or to the Service other than the License; and
    <br>
    (d) the Licensee has no right to have access to the Service in source code form.
    <br><br>
    4.2 In the event of any third party claim that the Service or the Licensee’s possession and use of the Service infringes
    that third party’s intellectual property rights, the Licensor shall be responsible for the investigation, defense, settlement
    and discharge of any such intellectual property infringement claim.
</p>

<p>
    <H3>5. No warranty</H3>

    The Licensee expressly acknowledges and agrees that use of the Service is at the Licensee’s sole risk and that the
    entire risk as to satisfactory quality, performance, accuracy and effort is with the Licensee. To the maximum extent
    permitted by applicable law, the Services are provided “as is” and “as available”, with all faults and without warranty
    of any kind, and the Licensor hereby disclaims all warranties and conditions with respect to the Services, either
    express, implied or statutory, including, but not limited to, the implied warranties and/or conditions of
    merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, of quiet enjoyment,
    and non-infringement of third party rights. The Licensor does not warrant against interference with the Licensee’s
    enjoyment of the Service, that the functions contained in, or services performed or provided by, the Service will
    meet the requirements of the Licensee, that the operation of the Service will be uninterrupted or error-free, or
    that defects in the Service will be corrected. No oral or written information or advice given by the Licensor or
    its authorized representative shall create a warranty. Should the Service prove defective, the Licensee assumes the
    entire cost of all necessary servicing, repair or correction.
</p>

<p>
    <H3>6. Limitation of liability</H3>

    6.1 The Licensee acknowledges that the Service has not been developed to meet the individual requirements
    of the Licensee, and that it is therefore the Licensee’s responsibility to ensure that the facilities and
    functions of the Service meet the requirements of the Licensee.
    <br><br>
    6.2 The Licensor is not in any way responsible for the use made by the Licensee of the Service. The Licensee
    understands that certain risks are inherent in all physical activities, and the Licensee assumes sole responsibility
    for any change in his or her behavior. It may be necessary to consult a physician before increasing one’s physical activity.
    <br><br>
    6.3 To the extent not prohibited by law, in no event shall the Licensor be liable for personal injury, or any
    incidental, special, indirect, consequential or punitive damages whatsoever, including, without limitation:
    <br>
    (a) loss of profit,<br>
    (b) loss of business,<br>
    (c) business interruption,<br>
    (d) loss of business opportunity,<br>
    (e) loss of data or<br>
    (f) any other commercial damages or losses<br>
    arising out of or related to the Licensee’s use or inability to use the Service, however caused, whether in
    contract, tort or otherwise and even if the Licensor has been advised of the possibility of such damages.
    <br><br>
    6.4 In no event shall the Licensor’s total liability to the Licensee for all damages exceed the amount of fifty euros (€50.00).
    <br><br>
    6.5 The Licensor is responsible for addressing any claims of the Licensee or any third party relating
    to the Service or the Licensee’s possession and/or use of the Service, including, but not limited to:
    (a) product liability claims, (b) any claim that the Service fails to conform to any applicable legal
    or regulatory requirement and (c) claims arising under consumer protection or similar legislation.
</p>

<p>
    <H3>7. Conditions precedent</H3>

    7.1 The Licensee represents and warrants that he or she:<br>
    (a) is legally competent;<br>
    (b) if legally incompetent, has obtained a verifiable consent from his or her legal guardian(s),
    as required under applicable law, to accept the terms and conditions of these Terms of Use;<br>
    (c) is not located in a country that is subject to a U.S. Government embargo or that has been
    designated by the U.S. Government as a “terrorist supporting” country; and<br>
    (d) is not listed on any U.S. Government list of prohibited or restricted parties.<br>
</p>
<p>
    <H3>8. Termination</H3>

    8.1 The License is effective until terminated by the Licensee or the Licensor. The Licensee’s rights under
    the License shall terminate automatically without notice from the Licensor if the Licensee fails to comply
    with any term or condition of these Terms of Use.
    <br><br>
    8.2 If any license fees have been paid by the Licensee for use of the Service, termination shall take effect
    30 days after the notice of termination was sent to the other party in writing. Otherwise the termination
    shall take effect immediately.
    <br><br>
    8.3 Upon termination of the License, the Licensee shall cease all use of the Service and destroy all copies,
    full or partial, of the Service in the Licensee’s possession.
    <br><br>
    8.4 If any license fees have been paid by the Licensee for use of the Service and the License is terminated by
    the Licensor, the Licensor shall recompense the Licensee pro rata for his or her loss.
</p>

<p>
    <H3>9. Other terms</H3>

    9.1 The Licensor may transfer its rights and obligations under these Terms of Use to another person.
    The Licensee may not transfer his or her rights or obligations under these Terms of Use to another person.
    <br><br>
    9.2 Each of the conditions of these Terms of Use operates separately. If any court or competent authority
    decides that any of them are unlawful or unenforceable, the remaining conditions will remain in full force and effect.
    <br><br>
    9.3 The laws of Finland, excluding its conflict of law rules, govern these Terms of Use and the Licensee’s
    use of the Service. The Licensee’s use of the Service may also be subject to other local, state, national
    or international laws. To the extent not prohibited by applicable law, the courts of Finland shall have jurisdiction.
</p>

<p>
    <H3>10. Variations</H3>

    10.1 The Licensor is entitled to revise these Terms of Use at any time. The Licensor shall notify the
    Licensee of any revisions with reasonable notice, at the Licensor’s sole discretion, through the Service,
    by e-email, via an online service or otherwise, or using any combination of the foregoing.
    <br><br>

    10.2 If the Licensee does not agree to the revised Terms of Use, he or she will not be bound by them if
    the Licensee ceases all use of the Service and destroys all copies, full or partial, of the Service in
    the Licensee’s possession. The fourth paragraph of Section 8.4 shall apply to the refund of license fees.
</p>
<br><br>