body {
    background-color: #009488;
    margin:200px 0px; padding:0px;
    text-align:center;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

a {
    color: #00B7FF;
}
